/* Light theme */
:root,
:root[data-theme='light'] {
  --sl-color-text: #3C5667;
  
  --sl-color-accent: #FFA252;       /* main orange #FFA252 */
  --sl-color-accent-low: #FFC797;   /* light orange (replaces #b3c7ff-like tones) */
  --sl-color-accent-high: #f97316;  /* darker orange */--page-title-color: #fb923c;

  --page-title-color: #fb923c;
  --section-title-color: #fb923c;
  --sidebar-section-title-color: #507289;

/*
  dark-blue 3C5667
  blue 507289
  light blue 90ACBE

  dark-grey 525252
  grey 7C7C7C
  light-grey 1D2C36 

  orange FFA252;       
  light-orange FFC797;   
  dark-orange f97316;

  white ffffff

*/


  /* --heading-color: #1d2c50;
  --sl-color-text: #1d2c50;
  --sl-color-text-muted: #334155;



   */

}

/* Dark theme */
:root[data-theme="dark"] {
  --sl-color-text: #ffffff;
  --sl-color-accent: #fb923c;
  --sl-color-accent-low: #f97316;
  --sl-color-accent-high: #fdba74;
  
  --page-title-color: #fb923c;
}  

/* 
This is a custom CSS file to override some of the default styles of the 
Starlight theme. You can add your own styles here to customize the appearance
*/

html[data-theme='light'] h1#_top,
html[data-theme='light'] h1[data-page-title] {
  color: #1d2c50 !important;
}

html[data-theme='dark'] h1#_top,
html[data-theme='dark'] h1[data-page-title] {
  color: #fb923c !important;
}


.sl-markdown-content :is(h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  color: var(--section-title-color);
}

.sidebar-content :is(summary, .large) {
  color: var(--sidebar-section-title-color);
}


